<h1> User Info </h1>

<!-- Displays the info of a specific user  -->
<% @users.each do |user| %>
  
  <!-- Displays user info  -->
  <%= "#{user[:fname].capitalize} #{user[:lname].capitalize}" %>
  <br />
  Email:
  <%= "#{user[:email]}" %>
  <br />

  <!-- Creates a button to delete user info  -->
  <form action="/users/<%= user[:id] %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete User">
  </form>

  <!-- Creates a link to edit user info  -->
  <a href="/users/<%= user[:id] %>/edit">Edit User Info</a>

<% end %>

<br />
<a href="/users">Back to Home Page</a>