<h1> Log In Page </h1>

<form action="/users/:id" method="post">

  <p>
    Username:
    <br />
    <input type="text" name="username">
    <br />
  </p>
 
  <p>
    Password:
    <br />
    <input type="password" name="password">
    <br />
  </p>
 
  <input type="submit" value="Login">
</form>