<!-- Create New User Form -->

<h1>Create New User</h1>

<!-- html form -->
<form action="/users" method="post">
  <p>
    First name:
    <br />
    <input type="text" name="fname">
    <br />
  </p>
  
  <p>
    Last name:
    <br />
    <input type="text" name="lname">
    <br />
  </p>
 
  <p>
    Email:
    <br />
    <input type="text" name="email">
    <br />
  </p>
 
  <p>
    Username:
    <br />
    <input type="text" name="username" require>
    <br />
  </p>
 
  <p>
    Password:
    <br />
    <input type="password" name="password" require>
    <br />
  </p>
 
  <input type="submit" value="Create New User">
</form>


<!-- option to go back to home page -->
<br />
<a href="/">Back to home page</a>