<html>
  <head>

    <!-- Sprockets Setup -->
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.js"></script>
    
  </head>
  <title>CRUD</title>
    <body>
      <%= yield %>
    </body>
</html>  